{% extends 'base.html'%}

{% block content %}
<h1>It's A Sad Day</h1>
    <!-- THIS JUST THE SETUP -->
    <p>After completion you will know about:</p>
    <ul>
        <li>Header Manipulation</li>
        <li>ROT13 Encoding</li>
        <li>Methods Errors</li>
    </ul>
    <p> THIS PLACE NEEDS THE CONTEXT</p>
    
    <a href='/challenge/4a/Login'>
    <button type='button'>Start</button>
    </a><br><br>
 
<form method='POST' action="/challenge/4a/flag">
    <input type="text" name="flag" placeholder="Input Flag">
    <button type='submit'>Submit Flag</button>
</form>
    
<p>{{msg}}</p>
{% endblock %}