{% extends 'base.html'%}
{% block content %}
{% if id == 'ljkp' %}
<style>
.bar{
    justify-content: center;
    margin: auto;
    width: 99%;
    background-color: #eb1717;
    padding: 10px;
    display: flex;
    font-size: 18px;
    color: aliceblue;
    }
    #return{
    padding: 8px ;
    height: fit-content;
    width: fit-content;
    color: rgb(157, 85, 230);
    background-color: black;
}

</style>
<div  class="bar">This Account will be Terminated in&nbsp;<span id="timer"></span></div>
{% endif %}
<center><h1>Employee Dashboard, BugHouse</h1></center>
<h2 style="margin-bottom: 0;">Current Status: Online <br><br> User: {% if id == 'mndnt' %}Kevin{% elif id == 'ljkp' %}Jack{% elif id == 'ujuzks' %}Samuel {% endif %}<br>Priviledges: Admin</h2>
<br>
<h2 style="position: absolute; top: 150px; right: 100px;">
    Bio: {{bio}}</h2>
{% if id == 'ljkp' %}
<br>
<div id="return">
    initiated Terminal Return Script ----- Admin Token Detected 'bighack' <br><br>
    <button onclick="window.close()">Back to Chat</button>
</div>
<br>
{% endif %}
<a href="/challenge/b2theWlhbXByZXR0eXN1cmV0aGlzaXNjaGFsbGVuZ2U0/Dashboard/LitHubMonitor?user={{id}}">
    <button type="button">Monitor LitHub</button>
</a>
<br>
<br>
<a href="/challenge/b2theWlhbXByZXR0eXN1cmV0aGlzaXNjaGFsbGVuZ2U0/Dashboard/YouSpaceMonitor?user={{id}}">
    <button type="button">Monitor YouSpace</button>
</a>
<br>
<br>
<a href="/challenge/b2theWlhbXByZXR0eXN1cmV0aGlzaXNjaGFsbGVuZ2U0/Login">
    <button type="submit">Logout</button>
</a>
{% if id == "ljkp" %}
<script>
    let seconds = 50400

function countdown(){
    seconds--
    
    let hours = Math.floor(seconds / 3600)
    let minutes = Math.floor((seconds % 3600) / 60)
    let secs = seconds % 60

    document.getElementById('timer').textContent = `${hours}:${minutes}:${secs}`
}

setInterval(countdown, 1000)
</script>
{% endif %}
{% endblock %}