<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <title>Documentation</title>
</head>
<body>
    <style>
       body{
        font-family: 'Iosevka Charon', monospace;
        font-size: 20px;
        background-color: #c5dcff;
        color: rgb(63, 67, 68);
       } 

       li{
        text-decoration: none;
       }

       .widgets{
        width: 170px;
        height: 100vh;
        background-color: #03132b;
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 5px 0px 10px 0px #000000;
        }
    </style>

    <div class="widgets">
        <br><br>
        <li style="padding-left: 38px; color: white;">CyberChef</li>
    </div>
        <div style="width: fit-content; margin: 0 auto; font-size: 30px; font-weight: 600; padding-top: 15px;">
            Documentation
        </div> <br><br><br>
    <div style="padding-left: 200px; color: black;">Delta</div>
</body>
</html>