{% extends 'base.html'%}
{% block content %}
<center>
    <h1>Project Mantis</h1>
    <h2>Logged in As: PRAYING_MANTIS</h2>
</center>
<p><strong>Message Monitoring System</strong></p>

<div id="feed"></div>

<script>
    const livefeed = [
                    'elite_h4xxor: AINT NOBODY CAPTURING THE GOAT!!! ',
                    'Jane: JavaScript is so hard guys :(',
                    'Kevin(Private Chat): Guys we gotta pick up the pace on rebuilding the databases elite_h4xxor got bail... ',
                    'Samuel: I got my CompSci degree!!! Finally graduated',
                    'Nevil: Hey guys whats a 500 error?',
                    'Jennifer: How much are the prices for round trip tickets to Singapore?',
                    'Mahad: I GOT SELECTED FOR THE MACONDO HACKATHON IN COLOMBIA!!!!',
                    'Roohan: Follow me on instagram @wakeup_roohan',
                    'TheDespicableJam: Checkout my Slack and GitHub @TheDespicableJam',
                    'Jim: Hey Dwight check this out!',
                    'Dwight: MICHAEL!!!',
                    'Elliot Alderson: You guys are pretty sh!t for being a privacy company @Boracle',
                    'HackClub: Horizons results are about to be out in a few days, stay tuned!'
                    ];
    let index = 0;
    setInterval(function(){document.getElementById("feed").innerHTML = livefeed[index];
    index++;
    if (index >= livefeed.length) { index = 0;}}, 4000); 
</script>
<br><br>
<table>
        <tr>
            <th>User</th>
            <th>Status</th>
            <th>Platform</th>
        </tr>
        <tr>
            <td>Luca</td>
            <td>Online</td>
            <td>YouSpace</td>
        </tr>
        <tr>
            <td>Jane</td>
            <td>Online</td>
            <td>YouSpace</td>
        </tr>
        <tr>
            <td>Samuel</td>
            <td>Offline</td>
            <td>LitHub</td>
        </tr>
        <tr>
            <td>elite_h4xxor</td>
            <td>Online</td>
            <td>LitHub</td>
        </tr>
        <tr>
            <td>Nevil</td>
            <td>Offline</td>
            <td>YouSpace</td>
        </tr>
        <tr>
            <td>Mahad</td>
            <td>Offline</td>
            <td>LitHub</td>
        </tr>
        <tr>
            <td>Roohan</td>
            <td>Online</td>
            <td>Instagram</td>
        </tr>
        <tr>
            <td>TheDespicableJam</td>
            <td>Online</td>
            <td>Slack</td>
        </tr>
        <tr>
            <td>Jack</td>
            <td>Online</td>
            <td>Mantis</td>
        </tr>
    </table>

<a  href="#" onclick="alert('You are not authorized to view the contents of this file')">BugExterminator.zip</a>

<br><br>  
<a href="/challenge/4a">
<button type="button">Back To Flag Submission</button>
</a>

{% endblock %}