{% extends 'base.html'%}
{% block content %}

<h1>YouSpace, A Space just for You... </h1>

<h2>Home Page</h2>

<p>
    Mode: Monitor <br>Priviledges: Admin <br>
    <br><br>
    <ul>
        <li>Jesse says: "GUYS!!! you heard about the recent hack attack on LitHub, people are saying it was an inside job, and Jack knew about it...</li>
        <br>
        <li>Mahad says: "I dunno... Jack was just a new guy, he posted about getting the job on his socials, maybe he was targeted?"</li>
        <br>
        <li>Joshua says: "It doesnt matter anymore, Jack was fired recently..."</li>
        
    </ul>
</p>
<a href="/challenge/b2theWlhbXByZXR0eXN1cmV0aGlzaXNjaGFsbGVuZ2U0/Dashboard?user={{id}}">
    <button type="button">Back to Dashboard</button>
</a>

{% endblock %}