<h1>ME WANT COOKIES!!!</h1>
    <!-- THIS JUST THE SETUP -->
    <p>After completion you will know about:</p>
    <ul>
        <li>Cookies</li>
        <li>Base64 Encoding</li>
        <li>Cient side data manipulation</li>
    </ul>
    <p>Cookies, who doesnt love a freshly baked batch of chocolate chips, turn out even websites love them!<br>
    Well lets course off culinary delights for a while, in websites cookies are used for managing sessions, creating user preferences and much more <br>
    Seems like you met Jack already, he is new at BugHouse, and he trusts his cookies a bit too much... clearly a recipe for disaster.
    <br>Let's taste this cookie... ;) </p>
    
    <a href='/challenge/2a/main'>
    <button type='button'>Start</button>
    </a><br><br>
 
<form method="post" action="/challenge/2a/flag">
    <input type="text" name="flag" placeholder="Input Flag">
    <button type='submit'>Submit Flag</button>
</form>
    
<p>{{msg}}</p>