{% extends 'base.html'%}
{% block content %}
<center><p><strong>Terminal Chat, Powered by IRC </strong></p></center>

Connecting to Chatroom #29405828...
<div id="connect" {% if not msg %} style="display:none;" {% endif %}>Connection Established!</div>
<div id="join" {% if not msg %} style="display: none;" {% endif %}> <span class="apple">&lt;Rotten_Apple&gt;</span> has joined the Chatroom</div>

<div>
    <div style="display: none; color: white; position: fixed; bottom: 2px; right: 20px;" class="fade" id="key">Press Enter To Progress... </div>

    
<div id="m1" {% if not msg %} style="display: none;" {% endif %}>
<p>[11:34 PM] <span class="apple">&lt;Rotten_Apple&gt;</span>
    Okay p00p stains, tell me what the hell did you fricking do?</p></div>

<div id="m2" {% if not msg %} style="display: none;" {% endif %}>
   <p>[11:35 PM] <span class="player">&lt;Exterminator&gt;</span> ?</p>
</div>

<div id="m3" {% if not msg %} style="display: none;" {% endif %}>
    <pre style="font-family: 'Bitcount Prop Single';">[11:41 PM] <span class="apple">&lt;Rotten_Apple&gt;</span>Dont you dare play coy with me
                  You knew damn well about the security breach alert at the end of the login portal... <br>                  but you still kept going...</pre>
</div>

<div id="m4" {% if not msg %} style="display: none;" {% endif %}>
    <p>[11:44 PM] <span class="player">&lt;Exterminator&gt;</span> I did'nt knew anything about the breach... must have been a bug</p>
</div>



<script>
    const key = document.getElementById('key');
    const connect = document.getElementById('connect');
    const join = document.getElementById('join')
    setTimeout(function() {connect.style.display='block';}, 2500);
    setTimeout(function() {join.style.display='block';}, 4500)
    const chat1 = document.getElementById('m1')
    const chat2 = document.getElementById('m2')
    const chat3 = document.getElementById('m3')
    const chat4 = document.getElementById('m4')
    
    let convo = [chat1, chat2, chat3, chat4]
    let index = 0;
    
    setTimeout(function() {key.style.display='block';}, 4500)
    setTimeout (function() {document.addEventListener('keydown', function(event) {
       if (event.key === 'Enter') convo[index].style.display='block'
        index++
        if (index === convo.length) {key.style.display = 'none'}
        if (chat4.style.display==='block') {
        document.addEventListener('keydown', function(next){
            if (next.key === 'Enter'){document.element.innerHTML='<div>'}
        })    
        }}) })
       


</script>


{% endblock %}