{% extends 'base.html'%}
{% block content %}
<center><p><strong>Terminal Chat, Powered by IRC </strong></p></center>

Connecting to Chatroom #29405828...
<div id="connect" {% if not msg %} style="display:none;" {% endif %}>Connection Established!</div>
<div id="join" {% if not msg %} style="display: none;" {% endif %}> <span class="apple">&lt;Rotten_Apple&gt;</span> has joined the Chatroom</div>

<div style="display: none; color: white; position: fixed; bottom: 35px; right: 20px;" class="fade" id="key"><span style="color: red; font-size: 25px; position: fixed; right: 267px; bottom: 30px;">&#x232C;</span> Press Enter To Proceed... </div>

<div id="scenes" {% if not msg %}style="display: block" {% else %} style="display: none;" {% endif %}> 
    <div id="m1" {% if not msg %} style="display: none;" {% endif %}>
    <p>[11:34 PM] <span class="apple">&lt;Rotten_Apple&gt;</span>
        Okay now listen up freak, tell me what the hell did you fricking do?</p></div>

    <div id="m2" {% if not msg %} style="display: none;" {% endif %}>
    <p>[11:35 PM] <span class="player">&lt;Exterminator&gt;</span> ?</p>
    </div>

    <div id="m3" {% if not msg %} style="display: none;" {% endif %}>
        <pre style="font-family: 'Bitcount Prop Single';">[11:41 PM] <span class="apple">&lt;Rotten_Apple&gt;</span>Dont you dare play coy with me
                    You knew damn well about the security breach alert at the end of the login portal... <br>                    but you still kept going...</pre>
    </div>

    <div id="m4" {% if not msg %} style="display: none;" {% endif %}>
        <p>[11:44 PM] <span class="player">&lt;Exterminator&gt;</span> I did'nt knew anything about the breach... must have been a bug</p>
    </div>

    <div id="m5" {% if not msg %} style="display: none;" {% endif %}>
        <pre style="font-family: Bitcount Prop Single;">[11:50 PM] <span class="apple">&lt;Rotten_Apple&gt;</span>Now you better do exactly as i say or shits going down, and remember...<br>                     if Boracle goes down, you are in this with us... </pre>
    </div>

    <div id="m6" {% if not msg %} style="display: none;" {% endif %}>
        <pre style="font-family: Bitcount Prop Single;">[11:55 PM] <span class="player">&lt;Exterminator&gt;</span>...</pre>
    </div>
</div>  
<div  id="briefings" {% if not msg %} style="display: none;" {% endif %}>
    <p>[11:57 PM] <span class="apple">&lt;Rotten_Apple&gt;</span>
        The devs at BugHouse have rolled out this new platform called YouSpace, it is supposed be this new big thing, but for you only one thing matters, get that Admin Access <br>
         Get, Admin Access, get the Token, and out, no snooping around, i am sure they pupmped up their security after the admin portal hack,
        this time I am pretty sure you gotta get deep into their system
        <br><br>
    <a href='/challenge/2a/Login' target="_blank">
        <button type='button'>Start</button>
        </a> <br>
 <form {% if msg == 'correct' %} style="display: none;" {% else %}style="display: block;" {% endif %} method='POST' action="/challenge/2a">
        <input type="text" name="flag" placeholder="Admin Token">
        <button type='submit'>Send Admin Token</button>
    </form>
{% if msg %}
    {% if msg == 'correct' %}
    <p>[12:10 AM] <span class="apple">&lt;Rotten_Apple&gt;</span>Aight good work, expect us to cross paths again... Next time join here #37502750</p>
    
    {% elif msg == 'wrong' %}
    <p>[12:10 AM] <span class="apple">&lt;Rotten_Apple&gt;</span>This aint the right token, keep on diggin nerd</p>

    {% else %}
    <p>[12:10 AM]  <span class="apple">&lt;Rotten_Apple&gt;</span>You think this is funny huh...
    {% endif %}
{% endif %} <br>
<div   id="back" {% if msg == 'correct' %} style="display: none;" {% else %} style="display: block;" {% endif %} ><a href='/'>
    <button type="button">Back</button>
    </a>
    </div>
    </div> 
<div  id="leave" style="display: none;"><span class="apple">&lt;Rotten_Apple&gt;</span> has left the Chatroom <br>Connection Closed <br><br></div>
<div  id="bck" {% if msg == 'correct' %}  style="display: block;" {% else %} style="display: none;" {% endif %}><a href='/'>
    <button type="button">Back</button>
    </a></div>
{% if not msg %}
<script>
    const briefings = document.getElementById('briefings')
    const scenes = document.getElementById('scenes')
    const connect = document.getElementById('connect');
    const join = document.getElementById('join')
    setTimeout(function() {connect.style.display='block';}, 2500);
    setTimeout(function() {join.style.display='block';}, 4500)
    const chat1 = document.getElementById('m1')
    const chat2 = document.getElementById('m2')
    const chat3 = document.getElementById('m3')
    const chat4 = document.getElementById('m4')
    const chat5 = document.getElementById('m5')
    const chat6 = document.getElementById('m6')

    let convo = [chat1, chat2, chat3, chat4, chat5, chat6]
    let index = 0;
    
    setTimeout(function() {key.style.display='block';},4500)
    setTimeout (function() {document.addEventListener('keydown', function(event) {
       if (event.key === 'Enter'){
        if (index >= convo.length){key.style.display='none'}
        else{convo[index].style.display ='block'}
        index++
        if (index > convo.length){scenes.style.display='none'}
        if (index > convo.length){briefings.style.display='block'}
       }
    })
}, 4500)
</script>
{% endif %}
{% if msg == 'correct' %}
<script>
    const leave = document.getElementById('leave');
    setTimeout(function() {leave.style.display='block';}, 2500);
</script>
{% endif %}

{% endblock %}