{% extends 'base.html'%}
{% block content %}
<h1>
    YouSpace, a space just for you
</h1>
<h2>Home Page</h2>
<h2 align="left">
    Logged In As: {{username}}<br>
    
</h2>

<p>
    Samuel says: "@admin, i found something weird at /roles"<br><br>
    elite_h4xxor says: "Shutup Samuel! I know your IP, I will doxx you"<br><br>
    Jane says: "Guys! I have started my cybersec journey at BugHouse, but i just dont understand cookies :("<br><br>
    Jack(Admin) says: "@Jane, cookies are really useful we use them for session management, building user preferences,<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and for role management too!"

</p>
{% endblock %}