<h1>Hard Mistake</h1>
    <!-- THIS JUST THE SETUP -->
    <p>After completion you will know about:</p>
    <ul>
        <li>Source Code Inspection</li>
        <li>Hard Coded Credentials</li>
    </ul>
    <p>Ohh snaps! Seems like one of our devs made some mistakes in their code. <br>
    A lot of the times devs use shortcuts for debugging and testing their applications, but it is important<br>
    to clean your code before pushing it into production... Seems like this dev made a Hard Mistake<br>
    Can you try and find the login credentials?</p>
    
    <a href='/challenge/1a/main'>
    <button type='button'>Start</button>
    </a><br><br>
 
<form method='POST' action="/challenge/1a/flag">
    <input type="text" name="flag" placeholder="Input Flag">
    <button type='submit'>Submit Flag</button>
</form>
    
<p>{{msg}}</p>