<h1>Acess Granted!<br>Bug{h4rd_m1st4k3}</h1>
<p>Crazyy!! What you just did was real world hacking!<br>Hard Coded credentials is
 one of those vulnerabitlities which is easy to spot and very small but can be devestating.<br> 
 Developers often leave notes and markers when a project is being worked on by different people 
 for easier debugging and testing, and a lot of the times developers leave sensitive data in comments just like the one you just exploited!</p>

<a href='/challenge/1a'>
    <button type='button'>Back to Flag Submission</button>
    </a><br><br>