{% extends 'base.html'%}

{% block content %}
<center><p><strong>Terminal Chat, Powered by IRC </strong></p></center>

Connecting to Chatroom #11111111...
<div  id="connect" {% if not msg %} style="display:none;" {% endif %}>Connection Established!</div>
<div  id="join" {% if not msg %} style="display: none;" {% endif %}> <span class="apple">&lt;Rotten_Apple&gt;</span> has joined the Chatroom</div>
<div  id="briefings" {% if not msg %} style="display: none;"  {% endif %}  >
    <p>[11:57 PM] <span class="apple">&lt;Rotten_Apple&gt;</span>
    Okay hotshot, dont get too comfy with me, this is serious business that needs to get done <br>
    I mobilised some other guys to retrieve intel on this new dev at BugHouse, guys name is Jack Birkman, 28, lives in Manhattan with his wife and two kids. <br>
    He is new and after analyzing his previous works, think he should be our key. <br>
    Here is the compromised Login Page for there admin dashboard, all I need you to do is get in, you get it? <br>
    And remember... I want no funny business</p>
 
    <a href='/challenge/dGhpc2lzdGhlcm91dGVmb3JjaGFsbGVuZ2Ux/Login' target="_blank">
        <button type='button'>Start</button>
        </a> <br><br>
 <form {% if msg == 'correct' %} style="display: none;" {% else %}style="display: block;" {% endif %} method='POST' action="/challenge/dGhpc2lzdGhlcm91dGVmb3JjaGFsbGVuZ2Ux">
        <input type="text" name="flag" placeholder="Admin Token">
        <button type='submit'>Send Admin Token</button>
    </form><br>
{% if msg  %}  
    {% if msg == 'correct' %}
    <p>[12:01 AM] <span class="apple">&lt;Rotten_Apple&gt;</span>Aight good work, expect us to cross paths again... Next time join here #29405828</p>

    {% elif msg == 'wrong' %}
    <p>[12:01 AM] <span class="apple">&lt;Rotten_Apple&gt;</span>This aint the right token, keep on diggin nerd</p>

    {% else %}
    <p>[12:01 AM]  <span class="apple">&lt;Rotten_Apple&gt;</span>You think this is funny huh...
    {% endif %}
{% endif %}
    <div   id="back" {% if msg == 'correct' %} style="display: none;" {% else %} style="display: block;" {% endif %} ><a href='/home'>
    <button type="button">Back</button>
    </a>
    </div>
    </div> 
<div  id="leave" style="display: none;"><span class="apple">&lt;Rotten_Apple&gt;</span> has left the Chatroom <br>Connection Closed <br><br></div>
<div  id="bck" {% if msg == 'correct' %}  style="display: block;" {% else %} style="display: none;" {% endif %}><a href='/home'>
    <button type="button">Back</button>
    </a></div>
{% if msg == '' %}
<script>
    const briefings = document.getElementById('briefings');
    const connect = document.getElementById('connect');
    const join = document.getElementById('join')
    setTimeout(function() {connect.style.display='block';}, 2500);
    setTimeout(function() {join.style.display='block';}, 4500)
    setTimeout(function() {briefings.style.display='block';}, 6500);
</script>
{% endif %}

{% if msg == 'correct' %}
<script>
    const leave = document.getElementById('leave');
    setTimeout(function() {leave.style.display='block';}, 2500);
</script>
{% endif %}


{% endblock %}