<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BugHouse</title>
    <link rel="stylesheet" href="/static/style.css">

<body>
    
    <div id="blueline">
        BugHoue Employee Portal
    </div>

    <div id="content">
        <div id="warning">
            Services have been stopped on this page due to a potential Security Breach
        </div>
        <div id="text">
            If you think this was a mistake please contact the HR
        </div>
    </div>

    <div id="return">
        Initiated Terminal Return Script ----- Admin Token Detected 'JackBirkman' <br>
        <button id="back" onclick="window.close()">Back to Chat</button>
    </div>

</body>
</html>