{% extends 'base.html'%}

{% block content %}
<h1>Jack in Bahamas</h1>
    <!-- THIS JUST THE SETUP -->
    <p>After completion you will know about:</p>
    <ul>
        <li>Header Manipulation</li>
        <li>ROT13 Encoding</li>
        <li>Methods Errors</li>
    </ul>
    <p>*sighs* Bahamas. No place like it, crystal clear waters, white-sand beaches, and eternal sunshine. <br>
    After both the mess ups, Jack needs some rest, but wait... WHAT!!! <br>
    SOMEBODY BROKE INTO THE ADMIN ACCOUNT, MADE AN OFFENSIVE POST ON LITHUB, AND CHANGED THE PASSWORDS!!! <br>
    THE OTHER DEVS ARE LOCKED OUT! <br>
    Luckily nothing can ruin this perfect vacation for Jack, because this time instead of messing up, he made some extra prepartions before leaving <br>
    Jack is out of town, only you can save the day, go take the challenge "Head-er" on!</p>
    
    <a href='/challenge/3a/LitHub'>
    <button type='button'>Start</button>
    </a><br><br>
 
<form method='POST' action="/challenge/3a/flag">
    <input type="text" name="flag" placeholder="Input Flag">
    <button type='submit'>Submit Flag</button>
</form>
    
<p>{{msg}}</p>
{% endblock %}