{% extends 'base.html'%}
{% block content %}
<h1>
    LitHub, a place where teens makes LIT stuff! 
</h1>

<h2>
    Logged in As: LitHub Visitor
</h2>

<p><strong>Trending Topics</strong>
    <ul>
        <li>Admin Team says: "LitHub SUCKS @$$ !!! GitHub 4Ever!!!"</li>
        <li>Samuel says: "WTH?!</li>
        <li>elite_h4xxor says: "hehe... thnx Samuel for the /roles lead x) "</li>
        <li>Kevin-Admin Team, LitHub says: "Sorry guys, we are all locked out of the Admin Team account <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;we are trying to recover the passwords, but Jack is on vacation and he has the master Keys.</li>
    </ul>
<a href="/challenge/3a/LitHub/Home">
    <button type="button">Go to Home Page</button>
</a>
 
</p>
{% endblock %}