{% extends 'base.html'%}
{% block content %}

{% if login %}
<h1>
    LitHub, a place where teens makes LIT stuff! 
</h1>

<h2>
    Logged in As: Admin Team
</h2>

<p><strong>Trending Topics</strong>
    <ul>
        {% if show_post %}
        <li>Admin Team says: "LitHub SUCKS @$$ !!! GitHub 4Ever!!!"</li>
        {% else %}
        <li><strong>This Post has been deleted by the admin team due to violation of platform guidelines</strong></li>
        {% endif %}
        <li>Samuel says: "WTH?!</li>
        <li>elite_h4xxor says: "hehe... thnx Samuel for the /roles lead x) "</li>
        <li>Kevin-Admin Team, LitHub says: "Sorry guys, we are all locked out of the Admin Team account <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;we are trying to recover the passwords, but Jack is on vacation and he has the master Keys.</li>
    </ul>
</p>
{% if show_post %}
<form method="post" action="/challenge/3a/LitHub">
<button>Delete Post</button></form>
{% else %}
<h2>Bug{s4v3d_th3_d4y}</h2>
<a href="/challenge/3a">
    <button type="button">Go back to Flag Submission</button>
</a>

{% endif %}

{% else %}
<h1>
    LitHub, a place where teens makes LIT stuff! 
</h1>

<h2>
    Logged in As: LitHub Visitor
</h2>

<p><strong>Trending Topics</strong>
    <ul>
        <li>Admin Team says: "LitHub SUCKS @$$ !!! GitHub 4Ever!!!"</li>
        <li>Samuel says: "WTH?!</li>
        <li>elite_h4xxor says: "hehe... thnx Samuel for the /roles lead x) "</li>
        <li>Kevin-Admin Team, LitHub says: "Sorry guys, we are all locked out of the Admin Team account <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;we are trying to recover the passwords, but Jack is on vacation and he has the master Keys.</li>
    </ul>

<a href="/challenge/3a/LitHub/Home">
    <button type="button">Go to Home Page</button>
</a>
 
</p>
{% endif %}
{% endblock %}