
{%extends 'base.html' %}
{% block content %}
{% if firsttime %}

<style>
    
    body{
    margin:0;
    overflow:hidden;
    background-image:url('/static/sides.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    }
    #game-wrapper{
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    #cutscene{
    width:100%;
    height:100%;
    color:white;
    font-family:'Press Start 2P';
    font-size:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    }

    @keyframes fadein {
        0% {opacity: 0;}
        100%{opacity: 1;}
    }

    #dialog{
        line-height: 40px;
    }

    #dive{
        font-family: 'Press Start 2P';
        color: white;
        border: 3px solid white;
        background-color: black;
        padding: 5px;
    }
    #dive:hover{
        background-color: grey;
    }
    #one, #two, #three, #dive{
        opacity: 0;
    }
</style>
<div id="cutscene">
    <div id="dialog">
        <div id="one">I had never been this lousy...</div>
        <div id="two">yet i messed up the Boracle Hack...</div>
        <div id="three">and they blackmailed me into this...</div>
        <button id="dive" onclick="button()">Lets Go</button>
    </div>
</div>
</body>

<script>
    function startup(){
        document.getElementById('one').style.animation = 'fadein 4s linear forwards'
        document.getElementById('one').addEventListener('animationend',()=> {
            document.getElementById('two').style.animation = 'fadein 4s linear forwards'
            document.getElementById('two').addEventListener('animationend',()=> {
                document.getElementById('three').style.animation = 'fadein 4s linear forwards'
                document.getElementById('three').addEventListener('animationend', ()=>{
                    document.getElementById('dive').style.animation = 'fadein 3s linear forwards'
                })
            })
        })}

        function button(){
            fetch('/',{
                method: 'POST',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                body: 'cutcomp='+'yes'
            })
            .then(Response=>Response.json())
            .then(reply=>{
                if(reply.label === 'redirect'){
                    window.location=reply.data
                }
            })
        }

    startup()

</script>

{% else %}

<style>
    dialog{
        font-family: 'Bitcount Prop Single', monospace;
    }
    #msg:open{
        display: flex;
        flex-direction: column;
    }
    #bghcontent{
        display: flex;
        flex-direction: column;
    }
    body{
        background-image: url('/static/sides.jpg');
        }
    
        #game-wrapper{
            margin-top: 12px;
            padding-top: 50px;
            padding-left: 30px;
            font-size: 18px;
            background-image: url('/static/wall.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            height: 800px;
            overflow: hidden;
        }

    @keyframes spin {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    @keyframes fadein {
            0% {opacity: 0;}
            100%{opacity: 1;}
        }

    .spin{
        animation: spin 1.5s linear infinite
    }
            
    .pixel{
        padding: 5px;
        image-rendering: crisp-edges;
        background: transparent;
        border: none;
    }

    .pixel:hover{
        background-color: rgba(240, 248, 255, 0.3);
        border: 0.08vw solid white
    }

    dialog::backdrop{
        background:none;
    }

    .toolbar {
        width: 99.8%;
        background-color: #333;
        padding: 5px;
        box-sizing: border-box;
        display: flex;
        gap: 5px;
        font-size: 17px;
        color: white;
        }


    .closer {
        position: relative;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #ff5f57;

    }
    .closer:hover{
        background-color: #ff0d00;
    }



    .closey{
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #febc2e;
    }

    .hostname {
        font-size: 15px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    
    .closing{
        color: white; 
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 13px;
        cursor: default;
    }

    #inbox{
        font-size: 20px;
        text-align: center;
    }

    #markasread{
        color: aliceblue;
        font-family: "Bitcount Prop Single";
        font-size: 15px;
        border: 2px solid rgba(255, 255, 255, 0.63);
        background-color: #535151;
    }
    #markasread:hover{
        box-shadow: 0px 2px 5px black;
    }


    #showmsg{
        background-color: transparent;
        border: none;
        color: aliceblue;
        font-family: "Bitcount Prop Single";
        font-size: 18px;
    }

    #showmsg:hover{
        text-decoration: underline;
    }
    
    #msgcon li::marker{
        content: "\27A2";
    }

    #jacklink{
        padding: 0;
        font-family: "Bitcount Prop Single";
        font-size: 20px;
        background: transparent;
        border: none;
        text-decoration: underline;
        color: rgb(19, 19, 129);
    }

    #jacklink:hover{
        color: rgb(235, 62, 62);
    }
</style>

<div id="desktop">
        <p style="position: absolute; right: 35px; top: 50px; font-family: Bitcount Prop Single; font-size: 2.2vw; color: rgba(0, 0, 0, 0.74); background-color: rgba(158, 158, 158, 0.5); border: 0.35vw solid rgb(29, 131, 8); padding: 0.35vw;" id="time">&nbsp;</p>

    <div class="pixel" id='message' style="height: 65px; width: 6vw;">
        <img id="msgicon" src="/static/msgicon.png" style="height: 50px; width: auto;">
        <p style="color: white; font-family: Bitcount Prop Single; margin: 0;">Messages</p>
    </div>

    <br>
    <br>

    <div class="pixel" id='terminal' style="height: 80px; width: 5vw;">
        <img src="/static/terminal.png" style="height: 65px; width: auto;;" alt="">
        <p style="color: white; font-family: Bitcount Prop Single; margin: 0;">Terminal</p>
    </div>

    <br>
    <br>

    <div class="pixel" id='music' style="height: 70px; width: 4.5vw; text-align: center;">
        <img src="/static/music.png" style="height: 55px; width: auto;" alt="">
        <p style="color: white; font-family: Bitcount Prop Single; margin: 0;">Music</p>
    </div>

    <br>
    <br>

    {% if recover %}
    <div class="pixel" id='bughouse' style="height: 100px; width: 5vw;">
        <img src="/static/Bughouse.png" style="height: 50px; width: auto; margin: 0 auto; display: block;">
        <pre style="color: white; font-family: Bitcount Prop Single; margin: 0;">BugHouse<br>Employee<br>   Suite</pre>
    </div>

    <dialog style=" outline: none; border: 0;padding: 0px; height: 600px; width: 70vw;" id="bgh">
        <div style="display: flex;" class="toolbar">
        <div id="crossbgh" class="closer">
            <div class="closing">x</div>
        </div>
        <div class="closey"></div>
        <p class="hostname">BugHouse</p>
        </div>
        <pre id="bghcontent" style="font-family: 'Press Start 2P'; font-size: 17px; padding: 25px; color: rgb(219, 15, 15); flex: 1; position: relative;">
        </pre>
    </dialog>
    {% endif %}


    <!--messages app-->
    <dialog style=" outline: none; border: 0;padding: 0px; height: 600px; width: 70vw; background-color: rgb(80, 88, 97);" id="msg">
        <div style="display: flex;" class="toolbar">
        <div id="cross" class="closer">
            <div class="closing">x</div>
        </div>
        <div class="closey"></div>
        <p  class="hostname">Messages</p>
        </div>
        <div id="content" style=" font-size: 17px; padding: 25px; color: aliceblue; flex: 1; position: relative;">
            <div style="top: 10px;" id="inbox">Inbox</div><br>
                <div id="msgcon" style="font-size: 20px;">
                </div> 
        </div>
    </dialog>


    <img id="wheel" class="spin" src="/static/ying.png" style="position: absolute; right: 220px; top: 75px; height:55px; width: auto;" >

</div>
<div id="gotcha" style="display: none;"></div>
</div>
{% endif%}

<script>

    function time(){
        const now = new Date()
        document.getElementById('time').textContent = now.toLocaleTimeString()
    }
    time();
    setInterval(time, 1000)

    const notification = new Audio('/static/notification.mp3')
    notification.load()
    const photos = document.getElementById('photos')
    const music = document.getElementById('music')
    const message = document.getElementById('message')
    const terminal = document.getElementById('terminal')
    const text = document.getElementById('text')
    const msg = document.getElementById('msg')  
    const ads = [
        {
        title: "Get FREE RAM!!!",
        body: "Call us on this number 1800-G3T-SC4MM3D and tell us you credit card number(for verification, obviously) and download 64GB of FREE RAM!!!"
        },
        {
        title: "HOT SINGLES IN YOUR AREA",
        body: "Looking for fun times?... <br>They are definitely real and not bots."
        },
        {
        title: "YOU'VE BEEN SELECTED FOR THE BETA DEVELOPERS ONLY IPHONE 20 TESTING!!!",
        body: "Click absolutely no where to claim your prize."
        },
        {
        title: "FREE MINECRAFT?!?!!",
        body: "Download this very real software to GET MINCERAFT FOR ABSOLUTELY FREE!!!"
        },
        {
        title: "GTA 6 FREE DOWNLOAD?!??!!",
        body: "I can't even make a joke about this one... maybe in another life..."
        }
        ];

    let lastCleared = Number(localStorage.getItem('lastCleared'));
    if(!lastCleared){
        lastCleared = Date.now();
        localStorage.setItem('lastCleared', lastCleared)
    }
    let adWaiting = false;
    let currentAd = null;

    function showMsg(){
        document.getElementById('messages').style.display="block"
        document.getElementById('showmsg').style.display='none'
    }

    function checkForAd(){
    if(adWaiting){return;}
    const elapsed = Date.now() - lastCleared;
    const showAD = 5 * 60 * 1000;

    if(elapsed >= showAD){
        const randomIndex = Math.floor(Math.random() * ads.length);
        currentAd = ads[randomIndex];
        adWaiting = true;
        notification.play()
        document.getElementById('msgicon').src = "/static/msgicon_unread.png" 
        }
    }   

    setInterval(checkForAd, 5000);
    checkForAd()

    function clearAd(){
        adWaiting = false;
        currentAd = null;
        document.getElementById('msgicon').src = "/static/msgicon.png" 
        lastCleared = Date.now()
        localStorage.setItem('lastCleared', lastCleared);
        document.getElementById('msgcon').innerHTML = "<p style='font-size:25px; margin:0;'>All Caught Up</p><p>No New Messages</p>";
    }

    function hideMsg(){
        msg.close()
        document.getElementById('messages').style.display="none"
        document.getElementById('showmsg').style.display="block"
    }

    document.getElementById('cross').addEventListener('click', hideMsg)
     

    message.addEventListener('click',  ()=>{
        message.style.backgroundColor = "rgba(0, 0, 255, 0.45)"
        setTimeout(function(){
            msg.showModal()
            fetch('/messages')
                .then(res => res.text())
                .then(reply =>{
                    if (reply != "not completed"){
                        document.getElementById('msgcon').innerHTML = ""
                        document.getElementById('msgcon').innerHTML += reply
                    }
                    else{
                        checkForAd();
                        document.getElementById('msgcon').innerHTML = "";
                        if(adWaiting){
                            document.getElementById('msgcon').innerHTML = 
                            `<p style="font-size:20px; margin: 0; ">You Have New Message(s)<p>
                            <ul style="padding:0; margin: 5px;">
                                <li>
                                    <button id="showmsg" onclick="showMsg()" style="border:none;">
                                        ${currentAd.title}
                                    </button>
                                </li>
                            </ul>
                            <div id="messages" style="position:absolute; display:none; inset:0; padding:20px; background-color:rgb(80,88,97);">
                                <div>
                                    ${currentAd.body}<br><br>
                                    <button id="markasread" onclick="
                                        document.getElementById('messages').style.display='none';
                                        document.getElementById('showmsg').style.display='block';
                                        clearAd();">Mark As Read</button>
                                </div>
                            </div>`;
                        }
                            else{
                                document.getElementById('msgcon').innerHTML =
                                "<p style='font-size:25px; margin:0;'>All Caught Up</p><p>No New Messages</p>";
                            }
                        }
                })
        }, 850)

        setTimeout(function(){
            message.style.removeProperty('background')
        }, 950)
    } )

    terminal.addEventListener('click',  ()=>{
        terminal.style.backgroundColor = "rgba(0, 0, 255, 0.45)"

        setTimeout(function(){
            window.location = '/home'
        }, 850)

        setTimeout(function(){
            terminal.style.background = 'transparent'
        }, 1500)
    } )


music.addEventListener('click',  ()=>{

        music.style.backgroundColor = "rgba(0, 0, 255, 0.45)"

        setTimeout(function(){
            window.open('https://youtu.be/dQw4w9WgXcQ')
        }, 850)

        setTimeout(function(){
            music.style.background = 'transparent'
        }, 1500)
    } )    
</script>
{% if recover %}
<script>
    const radio = new Audio('/static/radiocall.mp3')
    const siren = new Audio('/static/siren.mp3')
    const knock = new Audio('/static/break.mp3')

    radio.load();
    siren.load();
    knock.load();

    const bughouseapp = document.getElementById('bughouse')
    const crossbgh = document.getElementById('crossbgh')
    const bgh = document.getElementById('bgh')
    const content = document.getElementById('bghcontent')

///ignore this part, false error from vscode, works in browser
    let patched = {{ patched|tojson }}
///^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

    function failstart(){
            bgh.showModal()
            bgh.style.backgroundColor='black'
            content.style.height='80%'
            content.style.justifyContent='center'
            content.style.alignItems='center'
            content.style.color='White'
            content.innerHTML='Loading...'
            
            setTimeout(function(){
                content.style.justifyContent=''
                content.style.alignItems=''
                content.style.color=''
                bgh.style.backgroundColor='rgb(0, 48, 204)'
                document.getElementById('bghcontent').innerHTML='<p style="text-align: center; color:rgb(219, 15, 15)">Runtime Error</p> <br><p style="color: white; font-size: 13px; line-height: 30px;">Failed Integrity Check<br>Error Code 0x4011B2</p>'
            }, 3000 )

    }

    function start()
            {bgh.showModal()
            bgh.style.backgroundColor='black'
            content.style.height='80%'
            content.style.justifyContent='center'
            content.style.alignItems='center'
            content.style.color='White'
            content.innerHTML='Loading...'

            setTimeout(function(){
                content.innerHTML=''
                content.style.justifyContent='center'
                content.style.alignItems='center'
                content.style.color='White'
                content.style.fontFamily=''
                bgh.style.backgroundColor='rgb(0, 0, 0)'
                content.textContent=`
   CAUTION YOU ARE ACCESSING BUGHOUSE'S PRIVATE EMPLOYEE SUITE

                       ##             ##
                         ####     ####
                         ####     ####
                            ### ###
                            #######
               ###      #############      ###
               ###    #################    ###
                  #########################
                   #######################
                     ###################
                   #######################
                  #########################
               ###    #################    ###
               ###      #############      ###
                          #########
                          
                          Loading...
                          `
            
            }, 3000 )
            setTimeout(function(){
                document.getElementById('desktop').style.display='none'
                document.getElementById('game-wrapper').style.background='black'
            }, 8000)
            setTimeout(function(){
                const gotcha = document.getElementById('gotcha')
                gotcha.style.display='block'
                siren.play();
                document.getElementById('game-wrapper').style.display='flex'
                document.getElementById('game-wrapper').style.justifyContent='center'
                gotcha.style.fontFamily='"Press Start 2P"';
                gotcha.style.marginTop='50px'
                gotcha.style.fontSize='18px'
                gotcha.style.color='white'
                gotcha.textContent='Manhattan, New York City, 2:00 AM'
                gotcha.style.animation='fadein 2s linear forwards'
                siren.addEventListener('ended', () => {
                    knock.play()
                });
                knock.addEventListener('ended', ()=>{
                    radio.play();
                    gotcha.style.lineHeight='40px'
                    gotcha.style.padding='20px'
                    gotcha.innerHTML=`<br><br><br>"NYPD! Step away from the computer! You're under arrest for multiple counts of computer intrusion and unauthorized access to protected computer systems. Put your hands behind your back!"`
                
                radio.addEventListener('ended', ()=>{
                    setTimeout(function(){
                        gotcha.style.marginTop='200px'
                        gotcha.style.padding=''
                        gotcha.innerHTML=`ACT I Completed <br> To Be Continued... `
                        setTimeout(function(){
                        gotcha.style.marginTop='100px'
                        gotcha.innerHTML=`---Credits--- <br> Programming, Art, Design, Sounds:<br> TheDespicableJam [ Mohammad Roohan ] <br><br>Thank You Hack Club and the Horizons team, because of you i made my first ever project :) `
                        })
                    }, 8000)
                })
                })
            }, 10000)
    }



    bughouseapp.addEventListener('click',  ()=>{
        bughouseapp.style.backgroundColor = "rgba(0, 0, 255, 0.45)"

        setTimeout(function(){
            if (patched){
                start()
            }
            else{
            failstart()
            }
        }, 850)

        setTimeout(function(){
            bughouseapp.style.background = 'transparent'
        }, 950)
    } )

    crossbgh.addEventListener('click', ()=>{
        bgh.close()
    })



</script>
{% endif %}
{% endblock %}
</html>