{% extends 'base.html'%}
{% block content %}
<div id="banner1" style="display: none;">
<pre style="margin: 0; color: white;">
    __________          ____ ___________          __                           .__                  __                  
    \______   \ __ __  / ___\\_   _____/___  ____/  |_   ____ _______   _____  |__|  ____  _____  _/  |_  ____ _______  
</pre></div>
 <div id="banner2" style="display: none;">
<pre style="margin: 0; color: white;">
     |    |  _/|  |  \/ /_/  >|    __)_ \  \/  /\   __\_/ __ \\_  __ \ /     \ |  | /    \ \__  \ \   __\/  _ \\_  __ \ 
     |    |   \|  |  /\___  / |        \ >    <  |  |  \  ___/ |  | \/|  Y Y  \|  ||   |  \ / __ \_|  | (  <_> )|  | \/ 
</pre>
 </div>
<div id="banner3" style="display: none;">
<pre style="margin: 0; color: white;">
     |______  /|____//_____/ /_______  //__/\_ \ |__|   \___  >|__|   |__|_|  /|__||___|  /(____  /|__|  \____/ |__|    
            \/                       \/       \/            \/              \/          \/      \/                      
</pre>
</div>
<p><center>A Game by TheDespicableJam</center></p>
<div id="command" style="display: none;">
<span>root@kali:~$</span> <input class="cli" id="inp" type="text" name="command">
</div>
<pre class="msg"><div id="msg"></div></pre>
<script>
    const inp = document.getElementById('inp')
    setTimeout(function() { banner1.style.display = 'block' ;},1000 );
    setTimeout(function() { banner2.style.display = 'block' ;},1500 );
    setTimeout(function() { banner3.style.display = 'block' ;},2000 );
    setTimeout(function() { command.style.display = 'block';
    inp.focus();
    },2500 );

inp.addEventListener('keydown', function(event) 
    {if (event.key === 'Enter'){
    const val = inp.value.toLowerCase();
        if (val == 'help'){
            document.getElementById('msg').textContent='Use the "SSH" command to start playing, Use this command for level 1 "SSH@11111111 -p firstlevel"\nUse the "help" command to bring up this message ';
        }
        else if (val == 'ssh'){
            document.getElementById('msg').textContent='Use this format for the SSH command to start playing:\nSSH@<CHAT ID> -p <Admin Token>\nExample: SSH@11111111 -p firstlevel '
        }
        else if (val == 'ssh@11111111 -p firstlevel'){
            window.location = '/challenge/1a'
        }
        else if (val == 'ssh@29405828 -p birkman40965070'){
            window.location = '/challenge/2a'
        }
        else{ 
            document.getElementById('msg').textContent='Please use a valid command: "help" or "SSH"'
    }
inp.value = ''
}})
</script>
 {% endblock %}