{% extends 'base.html'%}
{% block content %}

<div id="banner1" {% if not msg %} style="display: none;" {% endif %}>
<pre style="margin: 0; color: white;">
    __________          ____ ___________          __                           .__                  __                  
    \______   \ __ __  / ___\\_   _____/___  ____/  |_   ____ _______   _____  |__|  ____  _____  _/  |_  ____ _______  
</pre></div>
 <div id="banner2" {% if not msg %} style="display: none;" {% endif %}>
<pre style="margin: 0; color: white;">
     |    |  _/|  |  \/ /_/  >|    __)_ \  \/  /\   __\_/ __ \\_  __ \ /     \ |  | /    \ \__  \ \   __\/  _ \\_  __ \ 
     |    |   \|  |  /\___  / |        \ >    <  |  |  \  ___/ |  | \/|  Y Y  \|  ||   |  \ / __ \_|  | (  <_> )|  | \/ 
</pre>
 </div>
<div id="banner3" {% if not msg %} style="display: none;" {% endif %}>
<pre style="margin: 0; color: white;">
     |______  /|____//_____/ /_______  //__/\_ \ |__|   \___  >|__|   |__|_|  /|__||___|  /(____  /|__|  \____/ |__|    
            \/                       \/       \/            \/              \/          \/      \/                      
</pre>
</div>
<p><center>A Game by TheDespicableJam</center></p>

<div id="terminal" style="display: none;">
    root@kali:~$ &nbsp;
    <input id="inp" style="background-color: transparent; border: none; flex: 1; box-sizing: border-box; outline: none;" type="text">
</div>
<div id="output" class="msg" style="margin-top: 2vh; margin-left: 1vw;">
</div>

<script>

    const inp = document.getElementById('inp')

    inp.focus();
    setTimeout(function() { banner1.style.display = 'block' ;},1000 );
    setTimeout(function() { banner2.style.display = 'block' ;},1500 );
    setTimeout(function() { banner3.style.display = 'block' ;},2000 );

    const terminal =  document.getElementById('terminal')

    setTimeout(function() {
    terminal.style.display = 'flex';
    terminal.style.marginTop = '7vh'   
    terminal.style.marginLeft = '1vw'   
    inp.focus();
    },2500 );

    function commandentered(){
        const comval = inp.value
        const output = document.getElementById('output')

        fetch('/home', {
            method: 'POST',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            body: 'command=' + comval
         })
        .then(respone => respone.json())
        .then(reply=>{
            if (reply.label === 'message'){
                output.textContent=reply.data;
                setTimeout(function(){
                    output.style.animation='fade-out 1s linear';
                    output.addEventListener('animationend', ()=>{
                        output.style.animation=''
                        output.textContent=''
                    })
                }, 2000)
            } 
            else if(reply.label === 'redirect'){
                window.location = reply.data
            }
        })
        inp.value = ''
    }

    inp.addEventListener('keydown', function(event){
        if(event.key === 'Enter' && terminal.style.display === 'flex'){
            commandentered()
        }
    })

</script>
 {% endblock %}