{% extends "base.html" %}
{% block content %}

<style>
    #progress{
        font-family: 'Bitcount Prop Single', monospace;
    }

    #banner1{
        font-size: 15px;
        transform: translateX(425px);
        width: fit-content;
        color: rgb(219, 46, 3, 0.888);
    }
    #banner2{
        font-size: 15px;
        transform: translateX(425px);
        width: fit-content;
        color: rgba(219, 46, 3, 0.666);
    }
    #banner3{
        font-size: 15px;
        transform: translateX(425px);
        width: fit-content;
        color: rgb(219, 46, 0.333);
    }

    #output {
        height: 500px;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: rgb(0, 0, 0) rgb(32, 32, 32 );
    }

    #output::-webkit-scrollbar {
    width: 8px;
    }
    #output::-webkit-scrollbar-track {
        background: rgb(32, 32, 32);
    }
    #output::-webkit-scrollbar-thumb {
        background: rgb(0, 0, 0);
        border-radius: 4px;
    }
    @keyframes slide{
            from{right: -600px;}
            to{right: 50px;}
        }
    @keyframes slide-out{
        from{right: 50px;}
        to{right: -600px;}
    }
    #noti{
        color: white;
        font-size: 20px;
        background-color: rgb(22, 21, 21);
        outline: 2px solid grey;
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        position: fixed;
        top: 100px;
        right: -600px;
    }

</style>

<div id="banner1">
<pre style="margin-top: 40px; margin-bottom: 0;">
 ▄▄▄       █    ██ ▄▄▄█████▓ ▒█████   ██▓███    ██████▓██   ██▓
▒████▄     ██  ▓██▒▓  ██▒ ▓▒▒██▒  ██▒▓██░  ██▒▒██    ▒ ▒██  ██▒
▒██  ▀█▄  ▓██  ▒██░▒ ▓██░ ▒░▒██░  ██▒▓██░ ██▓▒░ ▓██▄    ▒██ ██░
</pre></div>
 <div id="banner2">
<pre style="margin: 0;">
░██▄▄▄▄██ ▓▓█  ░██░░ ▓██▓ ░ ▒██   ██░▒██▄█▓▒ ▒  ▒   ██▒ ░ ▐██▓░
 ▓█   ▓██▒▒▒█████▓   ▒██▒ ░ ░ ████▓▒░▒██▒ ░  ░▒██████▒▒ ░ ██▒▓░
 ▒▒   ▓▒█░░▒▓▒ ▒ ▒   ▒ ░░   ░ ▒░▒░▒░ ▒▓▒░ ░  ░▒ ▒▓▒ ▒ ░  ██▒▒▒ 
</pre>
 </div>
<div id="banner3">
<pre style="margin: 0;">
  ▒   ▒▒ ░░░▒░ ░ ░     ░      ░ ▒ ▒░ ░▒ ░     ░ ░▒  ░ ░▓██ ░▒░ 
  ░   ▒    ░░░ ░ ░   ░      ░ ░ ░ ▒  ░░       ░  ░  ░  ▒ ▒ ░░  
      ░  ░   ░                  ░ ░                 ░  ░ ░     
</div>

<div id="terminal" style="padding-left: 10px; margin-top: 100px; color: white; display: none;">
    AUTOPSY> &nbsp; <input id="inp" style="background-color: transparent; border: none; flex: 1; box-sizing: border-box; outline: none; color: rgb(241, 240, 155);" type="text">
</div>
<div id="output" class="msg" style="margin-top: 20px; margin-left: 30px;">
</div>
<div id="noti">
    [NEW] New Application: "BugHouse Employee Suite"
</div>

<script>
    const output = document.getElementById('output')
    const inp = document.getElementById('inp')
    let i = 0
    let arrows = []
    let selectorMode = false

    function startup(){
        setTimeout(function(){output.innerHTML+='Initiating Autopsy... <br>'}, 1000)
        setTimeout(function(){output.innerHTML+='Looking for Mounted Drives... <br>'}, 2500)
        setTimeout(function(){output.innerHTML+='Drive Detected!<br>'}, 5000)
        setTimeout(function(){output.innerHTML+='Ready'}, 6000)
        setTimeout(function(){
            output.innerHTML=''
            document.getElementById('terminal').style.display='flex'
            inp.focus()            
        }, 7000)
    }

    function selector(){
        i = 0
        arrows = document.querySelectorAll('.arrow')
        arrows[0].style.display='inline-block'
    }
    
    function progressanimation(){
        const timestamps = [
                    '[....................................................................................................] 0%',
                    '[##########..........................................................................................] 10%',
                    '[###############################.....................................................................] 31%',
                    '[########################################################............................................] 56%',
                    '[###################################################################.................................] 67%',
                    '[#############################################################################################.......] 93%',
                    '[####################################################################################################] 100%'
                ]

        let t = 0
        inp.style.display='none'

        const timer = setInterval(() => {
                        t+=5
                        console.log(t)
                        if(t<9){
                            output.innerHTML='<br>'+timestamps[0]
                        }
                        else if(t<30){
                            output.innerHTML='Parsing NTFS Metadata...<br>'+timestamps[1]
                        }
                        else if(t<55){
                            output.innerHTML='Reading Partition Table...<br>'+timestamps[2]
                        }
                        else if(t<66){
                            output.innerHTML='Resolving Directory Structure...<br>'+timestamps[3]
                        }
                        else if(t<92){
                            output.innerHTML='Scanning unallocated clusters...<br>'+timestamps[4]
                        }
                        else if(t<100){
                            output.innerHTML='Nearing Completion...<br>'+timestamps[5]
                        }
                        else if(t === 100){
                            output.innerHTML='Completed Scan<br>'+timestamps[6]+'<br><br><pre id="progress">Discovered Artifacts:<br>[1] BugHouse_Employee_Suite.exe<br>     Status: Deleted<br>     Integrity: 93%<br>     Recoverable: Yes<br></pre>'
                            clearInterval(timer)
                            inp.style.display='block'
                            inp.focus()
                        }
                    }, 1000);
    }

    function ssd(){
        inp.style.display='none'
        let t = 0
        const timer =  setInterval(() => {
            t+=1
            console.log(t)
            if(t<6){
                output.innerHTML='Initiating Scan...'
            }
            else if(t<11){
                output.innerHTML='An Error Occured... Trying Common Fixes...'
            }
            else if(t === 12){
                inp.style.display ='block'
                inp.focus()
                output.innerHTML='Fatal Error... <br>Running OS with Autopsy Detected<br>Active Memory Detected<br>'
                clearInterval(timer)
            }
        }, 1000);
    }

    function enter(){
        const val = inp.value
        fetch('/autopsy', {
            method: 'POST',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            body: 'command=' + val
        })
        .then(Response=>Response.json())
        .then(reply=>{
            if(reply.label === 'message'){
                output.innerHTML+=reply.data
                output.innerHTML+='<br>'
                inp.value=''
                output.scrollTop=output.scrollHeight
            }
            else if(reply.label === 'clear'){
                output.innerHTML=''
                inp.value=''
                output.scrollTop=output.scrollHeight
            }
            else if(reply.label === 'selector'){
                inp.style.display='none'
                output.innerHTML=reply.data
                output.innerHTML+='<br>'
                selectorMode= reply.mode
                selector()
                inp.value=''
                output.scrollTop=output.scrollHeight
                
            }
            else if(reply.label === 'scan'){
                if(reply.data === '0'){
                    output.innerHTML=''
                    inp.value =''
                    progressanimation()
                }   
                else if(reply.data === '1'){
                    output.innerHTML=''
                    inp.value =''
                    ssd()
                }

        }})
    }

    function draw(){
                    for(const n of arrows){
                        n.style.display='none'
                    }
                    arrows[i].style.display='inline-block'
    }
    
    function notification(){
        document.getElementById('noti').style.animation='slide 1.5s ease-in-out forwards'
        setTimeout(function(){
        document.getElementById('noti').style.animation='slide-out 1s ease-in-out forwards'
        }, 4000)
        
    }   

    startup()

    document.addEventListener("keydown", (event)=>{
        if(event.key == 'Enter' && document.activeElement===document.getElementById('inp')){
            enter()
        }
        else if(selectorMode){

            if(event.key==='ArrowDown'){
                if(i=== arrows.length-1){
                    return
                }
                else{
                    i++
                    draw()
                }
            }
            else if(event.key==='ArrowUp'){
                if(i===0){
                    return
                }
                else{
                    i--
                    draw()
                    }
            }
            else if(event.key === 'Enter'){
                let body

                if(selectorMode === 'drive'){
                    body = 'drive=' + i
                }
                else if(selectorMode === 'artifact'){
                    body = 'artifact=' + i
                }

                inp.style.display='block'
                fetch('/autopsy', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    body: body
                })

                .then(Response=>Response.json())
                .then(reply=>{
                    if(reply.label === 'recover'){
                        output.innerHTML=reply.data+'<br>'
                        notification()
                    }
                    else{
                    output.innerHTML=reply.data
                    output.innerHTML+='<br>'
                    }
                })
                for(const n of arrows){
                        n.style.display='none'
                    }
                selectorMode = false
                inp.focus()

            }
            else{
                return
            }
        }
    })
</script>

{% endblock %}