    {% extends 'base.html' %}
    {% block content %}

    <style>

        body{
            margin: 0;
        }

        #ghidra{
            display:flex;
            flex-direction:row;
            box-sizing:border-box;
            height:calc(768px - 30px);
        }

        #leftpane{
            width: 25%;
            background-color: rgb(75, 70, 70);
            color: white;
        }
        #rightpane{
            flex:1;
            display:flex;
            flex-direction:column;
            background:black;
        }

        #code{
            flex:1;
            padding-top:30px;
            padding-left:20px;
            font-size:14px;
            font-family:'Press Start 2P';
            background:black;
            color: white;
            line-height:25px;
        }

        #title{
            text-align: center;
            padding-top: 25px;
        }

        .functions{
            padding-left: 20px;
            padding-bottom: 10px;
            color: rgb(143, 175, 233);
            cursor: default;
            width: fit-content;
        }
        .functions:hover{
            color: cornflowerblue;
        }

        #operators{
            background-color: transparent;
            border: 3px solid transparent;
            outline: none;
            color:#B897F4;
            font-family: 'Press Start 2P';
        }
        #operators:hover{
            border: 3px solid #7b43e2 ;
        }

        #compile{
            margin: 30px;
            margin-top: 30px;
            color:white
        }

        .keyword {
            color: #569CD6;      /* if else return while */
        }
        .type {
            color: #4EC9B0;      /* int uint void undefined8 */  
        }
        .function {
            color: #DCDCAA;      /* verify runtimeerror */
        }
        .variable {
            color: #9CDCFE;      /* uvar1 state level */
        }
        .global {
            color: #C586C0;      /* DAT_00403020 */
        }
        .number {
            color: #B5CEA8;      /* 0x4011B2 0 1 */
        }
        .operator {
            color: #D4D4D4;      /* operatos*/
        }
        .string {
            color: #CE9178;      /* strings */
        }
        .constant {
            color: #FFD700;      /* EXPECTED_HASH */
        }

        #compilemsg{
            background-color: rgba(0, 0, 0, 0.904);
            color: white;
            height: 240px;
            width: 300px;
            border: 5px solid white;
            font-family: 'Press Start 2P';
            font-size: 17px;
        }
        #compilemsg:open{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #compilemsg::backdrop{
            background: none;
        }

        #startup{
            position: absolute;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 60px;
            font-size: 25px;
            font-family: 'Press Start 2P';
            color: white;
        }

        #startupmsg{
            position: absolute;
            left: 50%;
            top: 55%;
            transform: translateX(-50%);
            color: white;
            padding: 10px;
            border: 2px solid rgb(255, 243, 243);
            width: fit-content;
        }

        #errormsg{
            margin:30px ;
        }
    </style>
    <div id="startup">
        <pre>              
                     / / |      
   ,-'             _/ / /       
  (-_          _,-' `Z_/        
   "#:      ,-'_,-.    \  _     
    #'    _(_-'_()\     \" |    
  ,--_,--'                 |    
 / ""                      L-'\ 
 \,--^---v--v-._        /   \ | 
   \_________________,-'      | 
                    \           
                     \          
                      \         
        </pre>
                    
        <div>
            -_-Ghidra-_-
        </div>
        <pre>              
       /\ \              
       \ \ \_             '-,   
        \_` '-,_          _-)  
     _  /    .-,_'-,      :#"   
    | "/     /()_'-_)_    '#    
    |                 '--,_--,  
 /'-L                      "" \ 
 | /   \        _.-v--v---^--,/ 
 |      '-,_________________/   
           /                    
          /                     
         /                      
        </pre>
    </div>

    <div id="startupmsg">
        Initiating Startup...
    </div>

    <div id="ghidra" style="display: none;">
        <div id="leftpane">
            <div id="title">
                Ghidra Discovered Functions
            </div>
            <p style="padding: 0; margin: 0;">============================</p>
            <p style="padding: 0; padding-left: 5px; padding-bottom: 20px; margin: 0;">Binary: Bughouse Employee Suite</p>
            <div id="functions">
                <div class="functions" id="main">
                    PROC_00401000
                </div>
                <div class="functions" id="license">
                    PROC_004010F8
                </div>
                <div class="functions" id="verify">
                    PROC_004011B2
                </div>
                <div class="functions" id="Userlvl">
                    PROC_004012F4
                </div>
            <p style="padding: 0; margin: 0;">============================</p>
            </div>
            <button id="compile" onclick="compile()">
                    Compile
            </button><br>
            <p id="errormsg"></p>
        </div>

        <div id="rightpane">
            <div id="Editor" style="color: white;">Code Editor</div>
            <p style="padding: 0; margin: 0; color: white;">========================================================================</p>
            <pre id="code" style="color: #B897F4;">Select a Process to inspect</pre>
        </div>

        <dialog id="compilemsg"></dialog>
    </div>


<script>

    let savedOp = null
    
    function process(proc){
        document.getElementById(proc).addEventListener('click', ()=>{
            if(proc === 'main'){
                document.getElementById('code').innerHTML=`<span class="type">undefined8</span> <span class="function">main</span>(<span class="type">void</span>)
{
    <span class="function">InitializeWindow</span>();
    <span class="function">UserLevel</span>();
    <span class="keyword">if</span> (<span class="function">LicenseCheck</span>() <span class="operator">==</span> <span class="number">0</span>) {
        <span class="keyword">return</span> <span class="number">1</span>;
    }
    <span class="function">OpenApplication</span>();
    <span class="keyword">return</span> <span class="number">0</span>;
}`
            }


            else if(proc === 'license'){
                document.getElementById('code').innerHTML=`<span class="type">undefined8</span> <span class="function">LicenseCheck</span>(<span class="type">void</span>)
{
    <span class="type">int</span> <span class="variable">state</span>;
    <span class="variable">state</span> <span class="operator">=</span> <span class="function">GetLicenseState</span>();
    <span class="keyword">if</span> (<span class="variable">state</span> <span class="operator">==</span> <span class="number">0</span>) {
        <span class="keyword">return</span> <span class="function">VerifyIntegrity</span>();
    }
    <span class="keyword">return</span> <span class="number">1</span>;
}`
            }


            else if(proc === 'verify'){
                document.getElementById('code').innerHTML=`<span class="type">undefined8</span> <span class="function">VerifyIntegrity</span>(<span class="type">void</span>)
{
    <span class="type">uint</span> <span class="variable">uVar1</span>;
    <span class="variable">uVar1</span> <span class="operator">=</span> <span class="function">ComputeChecksum</span>();
    <span class="keyword">if</span> (<span class="variable">uVar1</span> <select id="operators">
        <option value="notequal">!=</option>
        <option value="equal">==</option>
        <option value="greater">></option>
        <option value="smaller"><</option>
        </select> <span class="constant">EXPECTED_HASH</span>) {
        <span class="function">RuntimeError</span>(<span class="number">0x4011B2</span>);
        <span class="keyword">return</span> <span class="number">1</span>;
    }
    <span class="keyword">return</span> <span class="number">0</span>;
}`
document.getElementById('operators').addEventListener('change', (e)=>{
        savedOp = document.getElementById('operators').value
        console.log(savedOp)
    })
            }


            else if(proc === 'Userlvl'){
                document.getElementById('code').innerHTML=`<span class="type">undefined8</span> <span class="function">UserLevel</span>(<span class="type">void</span>)
{
    <span class="type">int</span> <span class="variable">level</span>;
    <span class="variable">level</span> <span class="operator">=</span> <span class="function">ReadUserPermissions</span>();
    <span class="keyword">if</span> (<span class="variable">level</span> <span class="operator"><</span> <span class="number">2</span>) {
        <span class="global">DAT_00403020</span> <span class="operator">=</span> <span class="number">0</span>;
        <span class="keyword">return</span> <span class="number">0</span>;
    }
    <span class="global">DAT_00403020</span> <span class="operator">=</span> <span class="number">1</span>;
    <span class="keyword">return</span> <span class="number">1</span>;
}`
            }
        })
    }

    function startup(){
        setTimeout(function(){
            document.getElementById('startup').style.display='none'
            document.getElementById('startupmsg').style.display='none'
            document.getElementById('ghidra').style.display='flex'
        }, 3000)
    }

    function compilingscreen(){
        document.getElementById('compilemsg').showModal()
        document.getElementById('compilemsg').textContent='Compiling...'
        setTimeout(function(){
        document.getElementById('compilemsg').textContent='Almost There...'
        }, 2000)
        setTimeout(function(){
        document.getElementById('compilemsg').textContent='Done'
        }, 5000)
        setTimeout(function(){
        document.getElementById('compilemsg').close()
        }, 6500)
    }

    function compile(){
        const operators = document.getElementById('operators')        
        if(operators){
            savedOp = document.getElementById('operators').value
            fetch('/compile', {
                method: 'POST',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                body: 'change='+savedOp
            })
            .then(Response=>Response.json())
            .then(reply=>{
                compilingscreen()
            })
        }
        else{
            document.getElementById('errormsg').textContent = 'No Changes made to Compile'
            setTimeout(function(){
                document.getElementById('errormsg').textContent=''
            }, 2000)
        }
    }

    startup()
    process("main")
    process("license")
    process("verify")
    process("Userlvl")

</script>
{% endblock %}